* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --strongColor: #4E0411;
  --darkLightLetter: #80041E;
  --forgetPassword: #CE043D;

  font-size: 62.5%;
}

.app {
  width: 100vw;
  height: 100vh;
  font-family: 'Titillium Web', sans-serif;

  display: flex;
}

.left {
  background-color: #F2D4D4;
  width: 50%;
  height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;

  /* border: red solid 4px; */
}

.title {
  margin: 4rem;
  display: flex;
  width: 65%;
  gap: 0.5rem;
}

.title h1 {
  font-size: 4rem;
}

.text {
  margin-bottom: 4rem;
}

.text h1 {
  color: var(--strongColor);
  font-size: 3.6rem;
  margin-bottom: 1.6rem
}

.text p {
  color: var(--darkLightLetter);
  font-size: 1.6rem;
}


.right {
  width: 50%;
  height: 100vh;

  background-image: url(../assets/background.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}