.text-box h1 {
  font-weight: 600;
  font-size: 1.8rem;
}

p {
  margin-top: 3.2rem;
  margin-bottom: 0.8rem;
  font-weight: 500;
  font-size: 1.2rem;
}

h2 {
  font-weight: 500;
  font-size: 1.8rem;
}
@media (min-width: 1000px) {


.text-box {
  flex: 1;
  text-align: left;
}
}