.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 20%;
}

.card header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.2rem;
}

.card header h2 {
  color: white;
  font-size: 2rem;
  font-weight: 500;
  line-height: 100%;
}

.card header span {
  display: flex;
  align-items: center;
  gap: 0.4rem;

  color: #feea35;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 90%;
}

.card main {
  display: flex;
  justify-content: center;
}

.card footer {
  display: flex;
  flex-direction: column;
}

footer .movie-infos {
  display: flex;
  justify-content: space-between;
}

footer .movie-infos span {
  color: #8b8d9b;
  line-height: 166%;
  font-weight: 400;
  font-size: 1.2rem;

  display: flex;
  align-items: center;
  gap: 0.4rem;
}

.card footer button {
  background-color: #2b2b37;
  border-radius: 0.4rem;

  padding: 0.8rem 1.6rem;
  gap: 0.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;

  color: white;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 125%;
  font-family: Outfit;
}
