.range-component {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  margin-bottom: 8.2rem;
  width: 100%;
  justify-content: center;
  height: 0.7rem;
}

input[type='range'] {
  -webkit-appearance: none;
  width: 50%;
  height: 100%;
  background: #d9d9d9;
  border-radius: 99rem;
  cursor: pointer;
}

input[type='range'].color {
  background: -webkit-linear-gradient(
    left,
    rgb(255, 0, 0),
    rgb(255, 255, 0),
    rgb(0, 255, 0),
    rgb(0, 255, 255),
    rgb(0, 0, 255),
    rgb(255, 0, 255),
    rgb(255, 0, 0)
  );
}

input[type='range'].color::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  border: solid #d9d9d9 0.1rem;
}

input[type='range'].brightness::-webkit-slider-thumb,
input[type='range'].contrast::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  background: black;
  border: solid #d9d9d9 0.1rem;
}
