.range-component {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  margin-bottom: 8.2rem;
  /* border: solid 4px lawngreen; */
  width: 100%;
  justify-content: center;
}

input[type='range'] {
  width: 60%;
  height: 0.3rem;
}

input[type='range'].color::-webkit-slider-runnable-track {
  background: -webkit-linear-gradient(
    left,
    rgb(255, 0, 0),
    rgb(255, 255, 0),
    rgb(0, 255, 0),
    rgb(0, 255, 255),
    rgb(0, 0, 255),
    rgb(255, 0, 255),
    rgb(255, 0, 0)
  );
}

/* input[type='range'].color::-webkit-slider-thumb {
  width: 10px;
  -webkit-appearance: none;
  height: 10px;
  cursor: ew-resize;
  background: #434343;
  box-shadow: -80px 0 0 80px #43e5f7;
} */

.brightness,
.contrast {
  accent-color: black;
}
