.main-box {
  background-color: var(--bg-color);
  color: white;
  width: 100vw;
  height: 100vh;


  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1.12rem 1.23rem;
  gap: 3.9rem;
}

.header-box {
  display: flex;
  gap: 3.2rem;
  justify-content: center;
}


