.graph-boxes {
  background-color: var(--boxes-bg-color);
  box-shadow: 3px 4px 26px rgba(0, 0, 0, 0.25);

  padding: 2.9rem 4.8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 25.1rem;
  height: 30.9rem;
  gap: 3.2rem;

  border-radius: 1.6rem;

  border: solid 2px red;
}

.title h3 {
  font-size: 1.4rem;
}

.title {
  flex: 1;
}

.graph {
  flex: 4;
}

.text-footer {
  display: flex;
  flex: 1;
  gap: 0.9rem;
}

p {
  font-weight: 500;
  font-size: 1rem;

}
