* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  font-size: 62.5%;
  font-family: 'Lato', sans-serif;
  color: white;
}

.flex {
  display: flex;
  align-items: center;
}

.app {
  background-image: url(../assets/Background-app.png);
  background-position: center;
  background-size: cover;
  width: 100vw;
  height: 100vh;

  padding: 10rem;
  justify-content: center;
}

.box {
  margin: 0;
  background-color: #6D67D0;
  backdrop-filter: blur(1rem);
  border-radius: 1rem;
}

p {
  font-weight: 700;
}

 @media screen and (min-width: 200px) and (max-width: 1150px) {
  html {
    width: 100vw;
    height: 100vh;
    background-image: url(../assets/Background-app.png);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .app {
    width: 100vw;
    height: 100vh;
  }

  .content{
    width: 100%;
  }
  .flex {
    justify-content: center;
  }

}

@media screen and (min-width: 540px) {
  .content {
    width: 100%;
  }
}