
.progress-bar {
  display: grid;
  place-content: center;
  position: relative;

}

svg {
  --percentage: 0;
  width: 19.7rem;
  height: 19.7rem;
  transform: rotate(-90deg);
}

svg circle {
  fill:none;
  stroke-width: 35;
  stroke-dasharray: 618;
  stroke-linecap: round;
}

.progress-bar .content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.circle-goal {
  animation: animate-goal 1.2s;
}

.content h3 {
  font-size: 3.4rem;
}

.content p {
  margin-top: 0.7rem;
}

@keyframes animate-goal {
  0% {
    stroke-dashoffset: 618;
    stroke-dasharray: 618;
  }
}


/* #percent {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#percent h1 {
  font-weight: 700;
  font-size: 2.4rem;
}

#percent p {
  margin: 0.6rem;
} */




/*
@keyframes anim2 {
  100% {
    stroke-dashoffset: 1045 ;
  }
} */





/* .outer {
  width: 16rem;
  height: 16rem;
  border-radius: 50%;
  padding: 2rem;


  background-color: #4A4556;


}

.inner {
  width: 12rem;
  height: 12rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: var(--boxes-bg-color);
} */