.sign-in  {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.entry-box {
  display: flex;
  flex-direction: column;
  width: 65%;
}

.entry-box label, p  {
  color: var(--strongColor);
  font-weight: 600;
  font-size: 1.4rem;
}

.entry-box a, .footer a {
  text-decoration: none;
}

.entry-box input:hover,
.entry-box input:focus{
  outline-color: #80041E;
  border-color: #80041E;
}

.password-text {
  text-align: right;
  margin-top:2rem;
}

.forget-password {
  font-size: 1.3rem;
  font-weight: 400;

  color: rgba(206, 4, 61, 0.8);
}


.forget-password:hover {
  text-decoration: underline;
}

.btn {
  margin: 3.2rem;
  width: 65%;
  height: 6rem;
  background-color: var(--strongColor);

  color: white;
  font-weight: 700;
  font-size: 1.6rem;

  border-radius: 0.5rem;
  border: none;
  padding: 1.6rem 2.4rem;
  gap: 1rem;
}

.btn:hover {
  background: rgba(206, 4, 61, 0.4);
  transition: .3s;
  cursor: pointer;
}

.footer {
  display: flex;
  gap: 0.5rem;
  text-align: left;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.4rem;
  color:#80041E;
}



