* {
  font-family: 'Inter', sans-serif;
}

.entry {
  display: flex;
  align-items: center;
  /* border: solid rgb(48, 1, 15) 1.5px; */
  border-radius: 0.8rem;
  background-color: white;
  width: fit-content;
}

.entry-base {
  border: none;
  min-height: 5rem;
  border-radius: 0.8rem;
  color: rgb(48, 1, 15);
  padding: 0.5rem;
  width: 8.5rem;
}

.entry p {
  color: rgb(48, 1, 15);
  font-size: 2rem;
}

.text {
  max-width: 16rem;
}
/* .text:enabled {
  border: #7c3aed 0.15rem solid;
}
.text:disabled {
  border: 1px solid #94A3B8;
} */

.selection {
  max-width: 13rem;
  transition: all 1s ease;
}


.selection:hover {
  cursor: pointer;
  filter: brightness(80%);
  color: black;
}

@media screen and (min-width: 280px) and (max-width: 359px) {
  .entry-base {
    width: 4rem;
  }
}

@media screen and (min-width: 360px) and (max-width: 416px) {
  .entry-base.text {
    width: 5.3rem;
  }

  .entry-base.selection {
    width: 6.3rem;
  }
}

@media screen and (min-width: 540px) and (max-width: 913px) {
  .entry-base.text {
    width: 11rem;
  }
}
