* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.passenger-box {
  display: flex;
  justify-content: space-between;
  border-top: dashed gray 2.2px;
  border-bottom: dashed gray 2.2px;
  padding: 24px 0px;
  width: 327px;
  height: 84px;
  --mask: radial-gradient(1.2rem at 1.2rem 1.2rem, #0000 93%, black) -1.2rem -1.2rem;
}

.passenger-name {
  text-align: left;
}

.seat-number {
  text-align: right;
}

