.header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 0.8rem;
}

.item {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.item p {
  font-family: 'Titillium Web', sans-serif;
  font-size: 1.4rem;
  line-height: 150%;
  text-align: center;
  padding: 0.5rem 1.2rem;
  border-radius: 5rem;

  display: flex;
  justify-content: center;
  align-items: center;
}

.item h2 {
  color: #323238;
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 150%;
}

.icon {
  margin: 0 4rem;
  display: flex;
  align-items: center;
}
