.option {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.6rem;

  background-color: var(--gray-06);
  border-radius: 1.6rem;
}

.option-i,
.option {
  border: 1px solid var(--gray-05);
}

.icon-infos {
  gap: 2.4rem;
}

.icon-infos p {
  color: var(--gray-03);
  font-size: 1.8rem;
  font-weight: 600;
}
