.credit-card {
  width: 28rem;
  height: 16.8rem;
  /* border: red 1px solid; */
  background: linear-gradient(
    -80deg,
    rgb(14, 15, 87) 0%,
    rgb(146, 14, 56) 50%,
    rgb(101, 56, 16) 100%
  );
  box-shadow: 0rem 0.4rem 2.4rem rgba(0, 0, 0, 0.25);
  border-radius: 1.6rem;
  color: var(--text-btn-card);

  padding: 1.6rem 2.4rem 2.4rem;
}

.logo {
  display: flex;
  justify-content: space-between;
  margin-bottom: 4rem;
}

.number-card h1 {
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 1.6rem;

  text-align: center;
  letter-spacing: 0.4rem;

  margin-bottom: 2.4rem;
}

.name-expiry {
  display: flex;
  justify-content: space-between;
}

.name-expiry h1 {
  font-size: 1.6rem;
}
