.cart-products {
  width: 45%;
  height: 100%;
  background: #18181b;
}

.title {
  /* border: solid 1px oldlace; */

  padding: 2.4rem 3.2rem;
  display: flex;
  justify-content: space-between;
  border-bottom: 0.1rem solid #3f3f46;
}

.title h1 {
  color: #e4e4e7;
  font-weight: 500;
  font-size: 2rem;
}

.title span {
  color: #f9fafb;
  font-weight: 700;
}

.products-area {
  padding: 3.2rem;
  display: flex;
  flex-direction: column;
  gap: 4.8rem;
  overflow-y: scroll;
  height: 80%;
}

footer {
  width: 100%;
  color: white;
}
