.cart-products {
  width: 45%;
  height: 100%;
  background: #18181b;
  align-self: flex-end;
}

.title {
  padding: 2.4rem 3.2rem;
  display: flex;
  justify-content: space-between;
  border-bottom: 0.1rem solid #3f3f46;
}

.title h1 {
  color: #e4e4e7;
  font-weight: 500;
  font-size: 2rem;
}

.title span {
  color: #f9fafb;
  font-weight: 700;
}

.products-area {
  padding: 3.2rem;
  display: flex;
  flex-direction: column;
  gap: 4.8rem;
  overflow-y: scroll;
  height: 62%;
}

footer {
  width: 100%;
  padding: 3.2rem;
  color: white;
  border-top: 1px solid #3f3f46;
}

.total {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.6rem;
}

.total p {
  font-weight: 500;
  font-size: 2rem;
  color: #e4e4e7;
}

.total p:nth-child(2) {
  font-weight: 700;
  font-size: 2rem;
  color: #f9fafb;
}

.coupon {
  width: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 1rem;
  margin-bottom: 3.2rem;
}

.coupon p {
  font-weight: 500;
  font-size: 1.6rem;
  color: #f7558f;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}

.btn {
  width: 100%;
}

.btn button {
  width: 100%;
  padding: 2rem 4.8rem;
  background: #ea338b;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1);
  border-radius: 0.8rem;
  border: none;
  font-weight: 500;
  font-size: 1.8rem;
  color: #f9fafb;
  transition: all 0.2s ease-in;
}

.btn button:hover,
.coupon p:hover,
.coupon img:hover {
  filter: brightness(80%);
  cursor: pointer;
  transition: all 0.4s ease-in;
}

.products-area::-webkit-scrollbar {
  width: 0.8rem;
}

.products-area::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(190, 58, 58, 0.3);
}

.products-area::-webkit-scrollbar-thumb {
  background-color: #8d1c53;
  outline: 1px solid rgb(144, 112, 127);
  border-radius: 0.8rem;
}
