:root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  --primary-color: #121214;
  --secondary-color: #6246EA;
  --bg-color: #F8F8FF;

  font-family: 'Roboto', sans-serif;
  font-size: 62.5%;
}

.container {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}
