.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;

  background-color: var(--boxes-bg-color);
  box-shadow: 3px 4px 26px rgba(0, 0, 0, 0.25);


  width: max-content;
  height: 100%;
  gap: 2rem;

  border-radius: 1.6rem;
  padding: 0.5rem 2.8rem;
}

/* background-color: var(--boxes-bg-color);
box-shadow: 3px 4px 26px rgba(0, 0, 0, 0.25);

display: flex;
flex-direction: column;
justify-content: center;
align-items: center;

height: 100%;
width: 25%;

border-radius: 1.6rem;
padding: 0.5rem 4.8rem; */

.title {
  flex: 1;
  display: flex;
  align-items: center;
  text-align: center;

}

/* .title h3 {
  font-size: 1.4rem;
}

.graph {
  flex: 3;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}*/

.text-footer-goals {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 2rem;
}

.first-text
.second-text {
  display: flex;
  align-items: center;
  gap: 0.7rem;
}

.dot {
  content: '';
  width: 1rem;
  height: 1rem;
  background-color: #4a4556;
  border-radius: 50%;
}

.goal {
  /* background-color: linear-gradient(121.94deg, #df9780 15.98%, #a66de9 82.85%); */
  background-color: #DF9780;
}

.text-footer-goals p {
  font-weight: 500;
  font-size: 1rem;
  margin: 0;
}

