* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

.app {
  width: 100vw;
  height: 100vh;
  font-family: Source Sans Pro;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}
