.file {
  height: fit-content;
  display: flex;
  flex-direction: row;
  padding: 1rem;

  background-color: white;
  box-shadow: 0rem 0.4rem 1.6rem #eae2fd;
  border-radius: 0.8rem;
  gap: 1.2rem;
}

.infos {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.top {
  display: flex;
  justify-content: space-between;
  gap: 0.8rem;
  padding: 0.4rem;

  /* border: solid 1px salmon; */
}

.name {
  font-size: 1.4rem;
  font-weight: 700;
  color: #575361;
  margin-bottom: 0.2rem;
}

.size {
  font-weight: 500;
  font-size: 1.2rem;
  color: #857e95;
  margin-bottom: 0.2rem;
}

.icon:hover {
  cursor: pointer;
  transform: scale(1.3);
}

.bottom {
  width: 100%;
  display: flex;
  justify-content: space-between;

  /* border: solid 2px rgb(105, 255, 145); */
}

.progress-bar {
  width: 30rem;
  /* border: solid 2px khaki; */
  display: block;
}

.bar {
  height: 0.8rem;
  width: 100%;
  background-color: #cdc8da;
  border-radius: 0.8rem;
  margin-top: 0.6rem;
}

.progress {
  position: relative;
  display: block;
  height: 0.8rem;
  border-radius: 0.8rem;
  background-color: crimson;
  transition: 0.1s linear;
}

.current-status {
  width: 30px;
  position: static;
  padding-top: 0.3rem;
}

.current-status p {
  font-weight: 500;
  font-size: 1.2rem;
}
