.box-air {
  padding: 3.2rem 2.5rem 1.6rem;

  flex-direction: column;

  width: 50%;

  gap: 4rem;
  height: 100%;

}

.title {
  gap: 0.8rem;
  color: #DAD8F7;
}

.middle {
  font-weight: 700;
  text-align: center;
}

.middle, .substances-in-air h2{
  color: #87EBCD;
  font-size: 1.8rem;
}

.middle h1 {
  color: #E7E6FB;
  font-size: 4rem;
}

.footer{
  display: flex;
  gap: 1.8rem;
  text-align: center;
}

.substances-in-air h2 {
  font-size: 1.4rem;
  font-weight: 700;
}

.substances-in-air p {
  color: #E7E6FB;
  font-size: 1.2rem;
  font-weight: 400;
}