* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  width: 100vw;
  height: 100vh;
  background-color: rgb(8, 6, 44);
  color: rgb(163, 193, 231);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  gap: 2rem;
  padding: 2rem;

  overflow: hidden;
}

.container {
  position: relative;
  aspect-ratio: 16/9;
  overflow: hidden;

  width: 80vw;
  border: 8px solid white;
  border-radius: 0.3rem;
}

figure {
  position: absolute;
}

img {
  width: 80vw;
  height: 100%;
  object-fit: cover;
}

.after {
  overflow: hidden;
}

#slider {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: transparent;
  appearance: none;
  -webkit-appearance: none;
}

#slider::-webkit-slider-thumb {
  -webkit-appearance: unset;
  appearance: unset;
  width: 8px;
  height: 100vh;
  background-color: white;
  cursor: pointer;
}
