.info-box {
  display: flex;
  margin: 24px 0px;
  justify-content: space-between;

}

.infos {
  text-align: left;
  flex-direction: column;
}

.info-time {
  background: #633bbc;
  border-radius: 8px;
  color: white;
  width: fit-content;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  padding: 4px 8px;
}

.paragraph {
  margin-bottom: 2px;
}

.informations {
  margin-bottom: 16px;
}

.qrcode {
  text-align: right;
}