* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  font-size: 62.5%;
}

.app {
  width: 100%;
  height: 100%;
  background-color: rgb(51, 2, 22);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5rem;
}

.top {
  width: 100%;
  display: flex;
  justify-content: center;
}

.bottom {
  width: 30%;
  height: fit-content;
  display: flex;
  justify-content: space-around;
  /* border: solid 2px rebeccapurple; */
  background-color: rgb(24, 10, 17);

  padding: 4.8rem 2rem;
}
