
.circle-sale {
  animation: animate-sale 1.2s;
}

@keyframes animate-sale {
  0% {
    stroke-dashoffset: 618;
    stroke-dasharray: 618;
  }
}

/* .saleGraph{
  stroke: url(.GradientColor);
  animation: anim 1.3s linear forwards;
}

.goalGraph {
  stroke: url(.GradientColor1);
  animation: anim2 1.3s linear forwards;
} */

/* #percent {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#percent h1 {
  font-weight: 700;
  font-size: 2.4rem;
}

#percent p {
  margin: 0.6rem;
} */



/* @keyframes anim {
  100% {
    stroke-dashoffset: 204 ;
  }
}

 */





