.container-graph {
  width: 42rem;
  height: 13rem;

}

.grid-line {
  position: relative;
  width: 41.5rem;
  height: 0.3rem;
  top: calc(13rem / 2);

  background: #4A4556;
  border-radius: 99rem;
  z-index: 0;
}

.bar-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;

}

.column-bar {
  position: relative;
  width: 0.7rem;
  height: 100%;
  background-image: linear-gradient(180deg, #90F7EC 0%, #32CCBC 100%);
  border-radius: 99rem;
  z-index: 1;
  animation: up 1s;
}


.bar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:end;
}

.day {
  font-size: 1rem;
  margin-top: 0.5rem;
}

@keyframes up {
  0% {
    height: 0;
  }
}
@media (min-width: 1000px) {
  .bar-container {
    flex: 1;
  }
}