.box-now {
  background-image: url(../../assets/Background-box.png);
  background-repeat: no-repeat;
  background-size: cover;


  border-radius: 1rem;

  width: 100%;
  height: 100%;

  flex-direction: column;
  padding: 1rem;
  position: relative;
}

.box-now::before {
  content: "";
  width: 17rem;
  height: 17rem;
  background-image: url(../../assets/clouds.svg);

  position: absolute;
  top: -5.6rem;
  left: -5.6rem;
}

.local {
  width: 100%;
  height: fit-content;
  padding: calc(3rem - 1.2rem) ;
}

.local p {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: end;

  color: #C2BFF4;
}

.temperature {
  flex-direction: column;
  margin-top: 6rem;
}

.now-temperature {
  display: flex;
}

.now-temperature h4, .max-and-min span {
  color:#DAD8F7;
}

.temperature h1 {
  text-align: center;
  font-size: 8.8rem;
}

.temperature h4 {
  font-size: 2.2rem;
  font-weight: 700;
  line-height: 3;
}

.max-and-min p, .max-and-min span {
  text-align: center;
  font-size: 2rem;
}

.weather-factors {
  gap: 1rem;
  width: 100%;

  margin-top: auto;
}

.factor-box {
  background: rgba(102, 96, 200, 0.6);
  border-radius: 0.6rem;
  width: 50%;

  padding: 0.5rem 1.6rem;
  display: flex;
  gap: 1.2rem;
}

.factor-box p, h2 {
  color: #E7E6FB;
}

.factor-info span {
  color:#DAD8F7;
  font-weight: 700;
  font-size: 1.4rem;
}

.factor-box p {
  font-weight: 400;
}

.factor-info h2 {
  font-size: 1.8rem;
}

@media screen and (min-width: 200px) and (max-width: 1150px) {
  .box-now {
    padding: 3.8rem 6.9rem;
    width: 100%;

  }

  .temperature {
    margin-top: 1rem;
  }

  .factor-box{
    text-align: center;
    flex-direction: column;
    height: 73%;
    margin-top: 3rem;
  }
}