* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
  overflow: hidden;
}

.app {
  width: 100vw;
  height: 100vh;
  background-color: darkslateblue;
  display: flex;
  font-family: 'Inter', sans-serif;
}

.left {
  background-color: rgb(26, 20, 23);
  width: 100%;
  color: whitesmoke;
  display: flex;
  align-items: center;
  justify-content: center;
}

.empty {
  text-decoration: overline;
  text-transform: uppercase;
  transition: all 0.2s ease;
  font-size: 4rem;
}

.empty:hover {
  letter-spacing: 0.4rem;
  color: #83133a;
  transition: all 0.2s ease;
  cursor: pointer;
}
